@using Fiorello_MVC_TASK.ViewModels.Accounts;
@model AccountLoginViewModel

@{
    var returnUrl = Context.Request.Query["ReturnUrl"];
}
<div class="container mt-5 mb-5">
    <div asp-validation-summary="ModelOnly"></div>
    <form method="post" asp-action="login" asp-controller="account">
        <input type="hidden" asp-for="ReturnUrl" value="@returnUrl" />
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control">
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>