@using Fiorello_MVC_TASK.Models;
@model Product

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Delete Product
                        </p>
                        <span>Title:</span> <span>@Model.Title</span>
                        <br />
                        <br />
                        <span>Description:</span> <span>@Model.Description</span>
                        <br />
                        <br />
                        <span>Price:</span> <span>@Model.Price</span>
                        <br />
                        <br />
                        <span>Image:</span> <span><img style="width:100px; height:100px; border-radius: 50%;" src="~/assets/img/@Model.PhotoName" /></span>
                        <br />
                        <br />
                        <form method="post" asp-action="deletecomponent" asp-controller="products" asp-area="admin" asp-route-id="@Model.Id" class="forms-sample">
                            <button type="submit" class="btn btn-danger me-2">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
